/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
em {
  font-style: italic;
}
@media all and (min-width: 901px) {
  html {
    font-size: 120%;
  }
}
@media all and (max-width: 900px) {
  html {
    font-size: 100%;
  }
}
body {
  line-height: 1.3;
  overflow-y: scroll;
}
code {
  font-family: "Courier New", typewriter;
  white-space: pre;
  font-size: 0.8rem;
  line-height: 0.8rem;
}
ul li {
  margin-left: 2rem;
  margin-right: 2rem;
  display: block;
  margin-bottom: 0.25rem;
}
ul li:before {
  content: '\2013';
  margin-left: -1rem;
  width: 1rem;
  display: block;
  float: left;
}
a {
  color: blue;
  text-decoration: none;
}
a.active,
a:hover {
  color: red;
}
.edit {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: fff;
  color: #f00;
}
.caption {
  margin: 5px;
}
.image {
  text-align: center;
  margin: 2rem;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  max-height: 90vh;
  height: auto;
}
.overview .caption {
  margin: 5px 0;
}
.pagination {
  text-align: center;
}
.pagination ul {
  margin-right: 1rem;
}
.pagination ul li {
  display: inline;
  margin-left: 1rem;
}
.pagination ul li.MarkupPagerNavOn a {
  color: #f00;
}
.container {
  margin: 0 auto;
  margin-bottom: 100px;
}
.container .menu {
  margin: 1rem;
  text-align: center;
}
.container .menu .menu-item {
  margin: 1rem;
}
.container .block {
  margin-bottom: 3rem;
}
.container .article.page {
  margin: 0 auto;
}
.container .article.page a {
  text-decoration: underline;
}
.container .article.page .leadtext .readmore,
.container .article.page .body .readmore,
.container .article.page .leadtext blockquote,
.container .article.page .body blockquote,
.container .article.page .leadtext h1,
.container .article.page .body h1,
.container .article.page .leadtext h2,
.container .article.page .body h2,
.container .article.page .leadtext h3,
.container .article.page .body h3,
.container .article.page .leadtext h4,
.container .article.page .body h4,
.container .article.page .leadtext p,
.container .article.page .body p,
.container .article.page .leadtext ul,
.container .article.page .body ul {
  max-width: 670px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.container .article.page .leadtext h1,
.container .article.page .body h1 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
.container .article.page .leadtext h2,
.container .article.page .body h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.container .article.page .leadtext .TextformatterVideoEmbed,
.container .article.page .body .TextformatterVideoEmbed {
  max-width: 900px;
  margin: 1rem auto;
}
.container .overview-same-size {
  margin-left: 1rem;
}
.container .overview-same-size a.item {
  display: inline-block;
  vertical-align: top;
}
@media all and (min-width: 901px) {
  .container .overview-same-size a.item {
    padding-right: 1rem;
    width: 33.333%;
  }
}
@media all and (max-width: 900px) {
  .container .overview-same-size a.item {
    max-width: 500px;
    margin: 0 auto 1rem auto;
  }
}
.container .overview-sidescroll a.item {
  display: block;
}
@media all and (min-width: 901px) {
  .container .overview-sidescroll {
    height: 700px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .container .overview-sidescroll a.item {
    margin-right: 1rem;
    display: inline-block;
    height: 100%;
  }
  .container .overview-sidescroll a.item:nth-child(1) {
    margin-left: 1rem;
  }
  .container .overview-sidescroll img {
    height: calc(100% - 2rem);
    max-width: auto;
    width: auto;
  }
}
@media all and (min-width: 901px) {
  .container .overview-varied-size {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-right: 1rem;
  }
  .container .overview-varied-size a.item {
    display: block;
    text-align: center;
    margin-left: 1rem;
    margin-bottom: 2rem;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .container .overview-varied-size a.item.size-1 {
    -webkit-flex-basis: 10%;
        -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
  }
  .container .overview-varied-size a.item.size-2 {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
  }
  .container .overview-varied-size a.item.size-3 {
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
  }
  .container .overview-varied-size a.item.size-4 {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
  }
  .container .overview-varied-size a.item.size-5 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .container .overview-varied-size a.item.size-6 {
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
  }
  .container .overview-varied-size a.item.size-7 {
    -webkit-flex-basis: 70%;
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
  }
  .container .overview-varied-size a.item.size-8 {
    -webkit-flex-basis: 80%;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
  }
  .container .overview-varied-size a.item.size-9 {
    -webkit-flex-basis: 90%;
        -ms-flex-preferred-size: 90%;
            flex-basis: 90%;
  }
  .container .overview-varied-size a.item.size-10 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}
.container .article.page.faq ul {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
  padding-left: 1rem;
  margin: 0.5rem auto;
}
.container .article.page.faq .body {
  margin: 0.5rem auto;
}
.container .article.page.faq input {
  display: none;
}
.container .article.page.faq input:checked ~ ul,
.container .article.page.faq input:checked ~ .body {
  display: none;
}
.container .article.page.faq input ~ label {
  cursor: pointer;
}
.container .article.page.faq input ~ label:before {
  content: '-';
  width: 1rem;
  height: 1rem;
  position: absolute;
  margin-left: -1rem;
}
.container .article.page.faq input:checked ~ label:before {
  content: '+';
}
