site/assets/*
site/modules/*
!site/modules/TextformatterImageTags
!site/modules/TextformatterVideoEmbed
site/templates/node_modules/*
wire/*
*.jpg
*.jpeg
*.png
*.svg
*.txt
index.php
README.md
.htaccess
site/config.php
site/templates/admin.php
*.woff
site/templates/styles/vars.less
