node_modules/
site/assets/
site/modules/
LICENSE
!site/modules/TextformatterImageTags
!site/modules/TextformatterVideoEmbed
site/templates/node_modules/*
site/templates/css/*
wire/*
*.jpg
*.jpeg
*.png
*.svg
*.txt
index.php
README.md
.htaccess
site/config.php
site/templates/admin.php
*.woff
site/templates/styles/vars.less
*.css
