@import "reset.less";


@mobile:   ~"all and (max-width: 900px)";
@desktop:   ~"all and (min-width: 901px)";

@main-margin: 1rem;
@block-margin: @main-margin*3;

* {
	box-sizing: border-box;
}

em {
	font-style: italic;
}
html {
	@media @desktop {
		font-size: 120%;		
	}
	@media @mobile {
		font-size: 100%;		
	}
}

body {
	// font-size: 1.5rem;	
	line-height: 1.3;
	overflow-y: scroll;
}

code {
	font-family: "Courier New", typewriter;
	white-space: pre;
	font-size: 0.8rem;
	line-height: 0.8rem;
}

ul li {
	margin-left:2rem;
	margin-right: 2rem;
	display: block;
	margin-bottom: 0.25rem;
}

ul li:before {
	content: '\2013';
	margin-left:-1rem;
	width: 1rem;
	display: block;
	float: left;
}

a {
	color:blue;
	text-decoration: none;
	&.active,
	&:hover {
		color:red;
	}
}

.edit {
	position: fixed;
	top:0;
	right: 0;
	padding:@main-margin;
	background-color: fff;
	color:#f00;
}

.caption {
	margin:5px;
}


.image {
	text-align: center;
	margin:@main-margin*2;
}

img {
	vertical-align: bottom;
	max-width: 100%;
	max-height: 90vh;
	height: auto;
}

.overview .caption {
	margin:5px 0;
}

.pagination {
	text-align: center;
	ul {
		margin-right: @main-margin;
		li {
			display: inline;
			margin-left:@main-margin;
			&.MarkupPagerNavOn a {
				color:#f00;
			}
		}
	}
}


.container {
	margin:0 auto;
	margin-bottom: 100px;
	// padding:@main-margin;
	.menu {
		margin:@main-margin;
		// margin-bottom: @block-margin;
		text-align: center;
		.menu-item {
			margin: @main-margin;
			// display: inline-block;
		}
	}
	.block {
		margin-bottom: 3*@main-margin;
	}

	.article.page {
		// max-width: 900px;
		margin:0 auto;
		a {
			text-decoration: underline;
		}

		.readmore,
		blockquote,
		h1,h2,h3,h4,
		p,
		ul {
			max-width: 670px;
			margin:0 auto;
			margin-bottom: 1rem;
			padding:0 1rem;
		}
		h1 {
			margin-top:@main-margin*3;
			margin-bottom:@main-margin*2;
			transform: rotate(-15deg);
		}
		h2 {
			margin-top:@main-margin*3;
			margin-bottom:@main-margin*1;
		}

		.TextformatterVideoEmbed {
			max-width: 900px;
			margin:@main-margin auto;
		}

	}
	.overview-same-size {
		margin-left: @main-margin;
		@media @desktop {
			
		}
		a.item {
			display: inline-block;
			vertical-align: top;
			@media @desktop {
				padding-right:@main-margin;
				
				width:33.333%;	
			}
			@media @mobile {
				max-width: 500px;
				margin:0 auto @main-margin auto;
			}
		}
		@media @mobile {
			// text-align: center;
		}

	}
	.overview-sidescroll {
		a.item {
			display: block;
		}
		@media @desktop {
			// position: absolute;
			height: 700px;
			width: 100%;
			top:0;
			left:0;
			z-index: -1;
			white-space: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			a.item {
				margin-right:@main-margin;
				&:nth-child(1) {
					margin-left:@main-margin;
				}
				display: inline-block;
				height: 100%;
			}
			img {
				height: ~"calc(100% - 2rem)";
				max-width: auto;
				width: auto;
			}
		}

	}
	.overview-varied-size {
		@media @desktop {
			display: flex;
			align-items: center;
			align-content: space-around;
			justify-content: space-around;
			flex-flow: row wrap;
			
			margin-right:@main-margin;

			a.item {
				display: block;
				text-align: center;
				margin-left:@main-margin;
				margin-bottom:@main-margin*2;
				align-self: center;
				&.size-1 {
					flex-basis: 10%;
				}
				&.size-2 {
					flex-basis: 20%;
				}
				&.size-3 {
					flex-basis: 30%;
				}
				&.size-4 {
					flex-basis: 40%;

				}
				&.size-5 {
					flex-basis: 50%;
				}
				&.size-6 {
					flex-basis: 60%;

				}
				&.size-7 {
					flex-basis: 70%;

				}
				&.size-8 {
					flex-basis: 80%;

				}
				&.size-9 {
					flex-basis: 90%;

				}
				&.size-10 {
					flex-basis: 100%;
				}
			}
		}
		@media @mobile {
			// text-align: center;
		}
	}
	.article.page.faq {
		h3,
		p {
			margin:0;
		}
		ul {
			user-select:none; 
			list-style: none;
			padding-left: 1rem;
			margin-bottom: 1rem;
		}
		// label,
		// .leadtext {
		// 	color:red;
		// 	&:hover {
		// 		color:red;
		// 	}
		// }

	  	input{
			display: none;
			&:checked ~ ul,
			&:checked ~ .body {
			  display: none;
			}
			& ~ label {
				cursor: pointer;
				
			}

			// &:checked ~ label,
			// &:checked ~ .body,
			// &:checked ~ .leadtext {
			// 	color:black;
			// }
		
			//Expanded
			& ~ label:before {
				content: '-';
				width: 1rem;
				height: 1rem;
				position: absolute;
				margin-left: -1rem;
			}

			//Collapsed
			&:checked ~ label:before {
				content: '+';
			}
	  	}
	}
}