@import "reset.less";

@small:   ~"all and (max-width: 900px)";
@medium:   ~"all and (min-width: 901px) and (max-width: 1150px)";
@medium-up:   ~"all and (min-width: 901px)";
@large:   ~"all and (min-width: 1151px)";

@main-margin: 1rem;
@block-margin: @main-margin*3;
@content-width:34rem;

* {
	box-sizing: border-box;
}

em {
	font-style: italic;
}
html {
	@media @large {
		font-size: 140%;
	}
	@media @medium {
		font-size: 120%;		
	}
	@media @small {
		font-size: 100%;		
	}
}

body {
	// font-size: 1.5rem;	
	line-height: 1.3;
	overflow-y: scroll;
}

code {
	font-family: "Courier New", typewriter;
	white-space: pre;
	font-size: 0.8rem;
	line-height: 0.8rem;
}

a {
	color:black;
	text-decoration: none;
	&[href].active,
	&[href]:hover {
		text-decoration: underline;
	}
}

.edit {
	// float:right;
	padding-right:@main-margin;
	background-color: fff;
	color:#f00;
	// width: 0;
	overflow: visible;
	height: 0;
	display: block;
	text-align: right;

}

.caption {
	margin:5px;
}



figcaption {
	margin:0.25rem;
	min-height: 3rem;
}

img {
	vertical-align: bottom;
	max-width: 100%;
	max-height: 90vh;
	height: auto;
}

.overview .caption {
	margin:5px 0;
}

.pagination {
	text-align: center;
	ul {
		margin-right: @main-margin;
		li {
			display: inline;
			margin-left:@main-margin;
			&.MarkupPagerNavOn a {
				color:#f00;
			}
		}
	}
} 


.nav,
.readmore,
.content >blockquote,
.content >h1,
.content >h2,
.content >h3,
.content >h4,
.content >p,
.content >ul {
	max-width: @content-width;
	margin:0 auto;
	padding:0 1rem;
}
.content >.video {
	max-width: 50rem;
}
.content >.image,
.content >.video {
	text-align: center;
	padding:@main-margin*2 @main-margin;
	margin:0 auto;
}


.readmore {
	text-decoration: underline;
}

.leadtext,
.body {
	
	blockquote,
	h1,
	h2,
	h3,
	h4,
	p,
	ul {
		margin-bottom: 1rem;
		// padding:0 1rem;
	}

	h1 {
		margin-top:@main-margin*3;
		margin-bottom:@main-margin*2;
		transform: rotate(-15deg);
	}
	h2 {
		margin-top:@main-margin*3;
		margin-bottom:@main-margin*1;
	}
	.TextformatterVideoEmbed {
		// max-width: 900px;
		// margin:@main-margin auto;
	}
	ul>li {
		margin-left:2rem;
		margin-right: 2rem;
		display: block;
		margin-bottom: 0.25rem;
	}

	ul>li:before {
		content: '\2013';
		margin-left:-1rem;
		width: 1rem;
		display: block;
		float: left;
	}

}

.container {
	margin:0 auto;
	// padding:@main-margin;
	margin-bottom: 100px;

	.nav {
		margin-top:@main-margin;
		margin-bottom: @block-margin;
		text-align: center;
		.nav-item {
			margin: @main-margin;
			// display: inline-block;
		}
	}
	.block {
		margin-bottom: 3*@main-margin;
	}

	.article.page {
		// max-width: 900px;
		margin:0 auto;
		a {
			text-decoration: underline;
		}
	}
	.article-gallery {
			display: flex;
			align-items: center;
			align-content: space-around;
			justify-content: space-around;
			flex-flow: row wrap;
		
			// margin-right:@main-margin;

			figure {
				margin-left:@main-margin;
				margin-bottom:@main-margin*2;
				align-self: center;
				flex-basis: 30%;
			}

	}
	.overview-same-size {
		margin-left: @main-margin;
		a.item {
			display: inline-block;
			vertical-align: top;
			@media @medium-up {
				padding-right:@main-margin;
				
				width:33.333%;	
			}
			@media @small {
				max-width: 500px;
				margin:0 auto @main-margin auto;
			}
		}
		@media @small {
			// text-align: center;
		}

	}
	.overview-sidescroll {
		a.item {
			display: block;
		}
		@media @medium-up {
			// position: absolute;
			height: 700px;
			width: 100%;
			top:0;
			left:0;
			z-index: -1;
			white-space: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			
		
			a.item {
				figure {
					height: 100%;
				}
				height: 100%;
				margin-right:@main-margin;
				&:nth-child(1) {
					margin-left:@main-margin;
				}
				display: inline-block;
				height: 100%;
			}
			img {
				height: ~"calc(100% - 2rem)";
				max-width: auto;
				width: auto;
			}
			
		}

	}
	.overview-varied-size {
		a.item {
			display: block;
			text-align: center;
		}
		@media @medium-up {
			display: flex;
			align-items: center;
			align-content: space-around;
			justify-content: space-around;
			flex-flow: row wrap;
			
			margin-right:@main-margin;

			a.item {
				margin-left:@main-margin;
				margin-bottom:@main-margin*2;
				align-self: center;
				&.size-1 {
					flex-basis: 10%;
				}
				&.size-2 {
					flex-basis: 20%;
				}
				&.size-3 {
					flex-basis: 30%;
				}
				&.size-4 {
					flex-basis: 40%;

				}
				&.size-5 {
					flex-basis: 50%;
				}
				&.size-6 {
					flex-basis: 60%;

				}
				&.size-7 {
					flex-basis: 70%;

				}
				&.size-8 {
					flex-basis: 80%;

				}
				&.size-9 {
					flex-basis: 90%;

				}
				&.size-10 {
					flex-basis: 100%;
				}
			}
		}
		@media @small {
			// text-align: center;
		}
	}
	.overview-blog {
		a.item {
			display: block;
			text-align: center;
			figure {
				margin:0 auto;	
			}
			
		}
	}
	.tree {
		ul {
			user-select:none; 
			list-style: none;
			padding-left: 1rem;
			margin: 0.5rem auto;
		}
		.body {
			margin:0.5rem auto;
			margin-bottom: 2rem;
			color:red;
		}
		// label,
		// .leadtext {
		// 	color:red;
		// 	&:hover {
		// 		color:red;
		// 	}
		// }

	  	input{
			display: none;
			&:checked ~ ul,
			&:checked ~ .body {
			  display: none;
			}
			& ~ label {
				cursor: pointer;
				
			}

			// &:checked ~ label,
			// &:checked ~ .body,
			// &:checked ~ .leadtext {
			// 	color:black;
			// }
		
			//Expanded
			& ~ label:before {
				content: '-';
				width: 1rem;
				height: 1rem;
				position: absolute;
				margin-left: -1rem;
			}

			//Collapsed
			&:checked ~ label:before {
				content: '+';
			}
	  	}
	}
}

header,
footer {
	margin-top:@main-margin;
	margin-bottom:@main-margin;

}